[submodule "lib/ilookup"]
	path = lib/ilookup
	url = git@github.com:uniteum/ilookup.git
[submodule "lib/clones"]
	path = lib/clones
	url = git@github.com:uniteum/clones.git
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "lib/crucible"]
	path = lib/crucible
	url = git@github.com:uniteum/crucible.git
